* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    display: block;
    text-decoration: none;
}

@font-face {
    font-family: 'MapoGoldenPier';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SUITE', sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: #1e1e1e;
    min-width: 1450px;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: transparent;
}

body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 10px;
    border: 4px solid transparent;
    background: #CDA85F;
}

body::-webkit-scrollbar-track {
    box-shadow: none;
    background: transparent;
}

/* 폭 1420px */

#loginbenefitbg {
    background-color: #F3E8CB;
    color: #CDA85F;
    text-align: center;
    align-content: center;
    height: 32px;
}

.loginbenefit {
    width: 1420px;
    margin: 0 auto;
}

.scrollTop {
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 3vw;
    z-index: 100;
}

.scrollTop a {
    display: inline-block;
    padding: 10px 15px;
    background: #000;
    color: #fff;
    margin-bottom: 5px;
    border-radius: 50%;
}

#header {
    width: 1420px;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}

.logo {
    width: 10%;
    margin: 0 auto;
    padding: 50px 0 30px;
    box-sizing: border-box;
}

.sideicon_link {
    position: absolute;
    top: 90px;
    right: 10px;
    display: flex;
    width: 134px;
    justify-content: space-around;
}

.sideicon_link>li {
    width: 20%;
    position: relative;
}

.sideicon_color {
    position: absolute;
    left: 0;
    opacity: 0;
}

.sideicon_link>li:hover .sideicon_color {
    opacity: 1;
}

.sideicon_link>li:hover .sideicon {
    opacity: 0;
}

/* 메뉴 시작 */

#gnbwrap {
    top: -1px;
    height: 61px;
}

.gnb {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.origin_gnb>li {
    width: 12%;
}

.gnb>li>a {
    padding: 20px 0 15px;
    text-align: center;
    font-weight: 600;
}

.lnb_bg {
    position: absolute;
    top: 240px;
    left: 0;
    height: 370px;
    width: 100%;
    margin-left: calc(-50vw + 50%);
    display: block;
    background-color: #f9f5e9e0;
    box-shadow: 0px 13px 10px #F3E8CB80 inset;
}

.lnb {
    padding-top: 20px;
    text-align: center;
    position: relative;
    z-index: 50;
}

.lnb>ul>li>a {
    padding: 8px 10px;
}

.lnb>ul>li a:hover {
    font-weight: 600;
    color: #CDA85F;
}

.seemore {
    width: 20%;
    opacity: 0.8;
    transition: opacity 0.4s ease;
}

.seemore_color {
    position: relative;
    top: -55px;
    width: 20.7%;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.seemore_color:hover {
    opacity: 1;
}

.seemore_color:hover .seemore {
    display: none;
}

.gnb_above {
    width: 1420px;
    margin: 0 auto;
}

.lnb_img {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    border-radius: 150px;
    overflow: hidden;
    margin-bottom: 15px;
}

.lnb_menu_glance {
    position: absolute;
    top: 50px;
    left: -270px;
    width: 250px;
    height: 260px;
    text-align: center;
    line-height: 20px;
    border-right: #CDA85F 2px dashed;
}

.lnb_menu_glance h3 {
    font-size: 19px;
    font-weight: 600;
    color: #CDA85F;
    padding-bottom: 8px;
}

.lnb_menu_glance p {
    font-size: 13px;
}

#header2 {
    width: 100%;
    height: 110px;
    transition: top 0.2s;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    box-sizing: border-box;
    z-index: 100;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
}

.header2_logo {
    width: 9%;
    padding: 15px 0 0;
    box-sizing: border-box;
}

#header2_inner {
    width: 1420px;
    margin: 0 auto;
    position: relative;
    top: 0px;
}

.header2_sideicon_link {
    position: absolute;
    top: 45px;
    right: 10px;
    display: flex;
    width: 134px;
    justify-content: space-around;
}

.header2_gnb_above {
    width: 100%;
    position: relative;
}

.header2_gnb {
    width: 1020px;
    margin: 0 auto;
    transform: translateY(-70px);
}

.header2_gnb>li {
    width: 16.7%;
}

.header2_lnb_bg {
    position: absolute;
    top: 82px;
    left: 0;
    height: 370px;
    /* 최고다 */
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    /* 페이지 전체 너비 쓰기 */
    display: block;
    background-color: #f9f5e9e0;
    box-shadow: 0px 13px 10px #F3E8CB80 inset;
}

.header2_lnb {
    padding-top: 50px;
}

.nav-up {
    top: -110px !important;
    /*헤더 높이와 같이*/
}

.nav-down {
    top: 0px !important;
}

/* 메뉴 끝 */

@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css');


.footerbg {
    height: 393px;
    width: 100%;
    background-color: #1e1e1e;
    color: white;
}

#footer {
    width: 1420px;
    margin: 0 auto;
    font-size: 13px;
}

.logo_white2 {
    width: 20%;
    padding: 50px 0 30px;
    box-sizing: border-box;
}

#footer ul {
    padding-bottom: 30px;
}

.footer_left {
    width: 50%;
    height: 100%;
    float: left;
}

.footer_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sns {
    float: right;
    margin-top: 50px;
    width: 180px;
    display: flex;
    justify-content: space-between;
}

.sns li {
    width: 45px;
    position: relative;
}

.footer_icon {
    opacity: 20%;
}

.footer_coloricon {
    position: absolute;
    left: 0;
    opacity: 0;
}

.footer_right li:hover .footer_coloricon {
    opacity: 1;
}

.footer_rightlink {
    width: 346px;
    justify-content: space-between;
    display: flex;
    float: right;
}

.footer_rightlink li {
    padding-bottom: 10px;
}

.footer_rightlink h3 {
    color: #FED5A3;
    font-weight: 600;
    font-size: 17px;
}

.footer_rightlink p:hover {
    text-decoration: underline;
}

/* 공통 꾸미기 끝 */




/* F&Q CSS START */

.subpage_commonContent {
    height: max-content;
    width: 100%;
    margin-left: calc(-50vw + 50%);
    background-image: url(../images/fnq_origin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 55%;
    position: relative;
    z-index: 100;
}

.subpage_banner_opacity {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.204);
}

.subpage_commonCormorant_title {
    width: max-content;
    margin: 0 auto;
    font-size: 50px;
    font-family: "Cormorant Infant";
    font-style: italic;
    padding: 150px 0 110px;
}

#subpage-bg1 {
    background-image: url(../images/shadow_top_sharp.png);
    background-repeat: no-repeat;
    background-position: top -7px left 40%;
}

#subpage-bg2 {
    background-image: url(../images/shadow_bottom_sharp.png);
    background-repeat: no-repeat;
    background-position: bottom 500px right 40%;
}

.subpage-wrap {
    width: 1420px;
    margin: 0 auto;
    height: fit-content;
    padding-top: 40px;
}

.subpage-wrap2 {
    width: 1420px;
    margin: 0 auto;
    height: fit-content;
    padding-bottom: 50px;
}

.subpage {
    width: 940px;
    margin: 0 auto;
}

.subpage>p{
    font-family: "Cormorant Infant";
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    padding: 30px 0 30px;
}

.fnq {
    overflow: hidden;
    padding: 10px 10px;
    border-bottom: #1e1e1e96 1px solid;
}

.fnq1st {
    border-top: #1e1e1e96 1px solid;
}

.fnq_title {
    float: left;
}

.color{
    color: #CDA85F;
}

.angle-bracket {
    width: 13px;
    float: left;
    margin-right: 10px;
}

.text_info {
    border-bottom: #1e1e1e96 1px solid;
    padding: 20px 30px;
    display: none;
}

.text_info a:hover{
    text-decoration: underline;
}

.text_info ul {
    list-style: circle;
}


/* > 모양 회전시키기*/
.turn .fnq img {
    transform: rotate(90deg);
}

.angle-bracket img {
    transition: transform 0.5s;
}

.pagebtn {
    width: 200px;
    height: fit-content;
    margin: 70px auto;
    display: flex;
}

.pagebtn li {
    width: calc(100%);
}

#ad-banner_bottom {
    width: 1420px;
    height: 410px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 130px;
}

.ad-banner_wrap {
    text-align: center;
    font-size: 18px;
    background: #fff;
    justify-content: center;
    align-items: center;
}

.ad-banner_wrap li{
    position: relative;
}

.ad-banner_imgbox>img {
    position: absolute;
    left: 0;
    width: 100%;
}

.ad-banner_commonimg{
    transform: translateY(-16%);
}

.ad-banner_constellation{
    transform: translateY(-40%) translateX(5%) scale(120%);
}

.ad-banner_moonlight{
    transform: translateY(-44%) translateX(-8%) scale(116%);
}

.ad-banner_textbox_wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 85px;
}

.ad-banner_textbox {
    position: absolute;
    color: white;
    text-align: center;
    text-shadow: 0px 3px 6px #fed5a383;
}

.ad-banner_title {
    font-family: "Cormorant Infant";
    font-size: 82px;
    padding-bottom: 60px;
    animation: up 1s ease-in forwards;
    opacity: 1;
}

.ad-banner_description {
    font-size: 33px;
    line-height: 42px;
    font-weight: 100;
    animation: up 1s ease-in forwards;
    opacity: 1;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(20px);
        /* 아래에서 위로 이동하는 효과 */
    }

    to {
        opacity: 1;
        transform: translateY(0);
        /* 원래 위치로 이동 */
    }
}

.animated{
    animation: up 1s ease-in forwards;
}

.btn {
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    font-weight: 100;
    font-size: 20px;
    background-color: white;
    padding: 10px 30px;
    margin: 0 auto;
    border: 1px solid #FED5A3;
    color: #FED5A3;
    box-shadow: 0 5px 6px #fed5a37e;
    position: absolute;
    top: 220px;
}

.btn:hover .btn_text {
    color: white;
    position: relative;
    z-index: 100;
}

.btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 300%;
    width: 155%;
    background: #fed5a396;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.adb_textbox1 {    
    left: 5%;
}

.adb_textbox2{
    top: 40px;
    left: 5%;
}

.adb_textbox3 {
    top: 8%;
    right: 5%;
}

.adb_textbox4 {
    top: 5%;
    right: 5%;
}

.btn1 {    
    left: 370px;
}

.btn2 {    
    left: 300px;
}

.btn3 {
    right: 315px;
}

.btn4 {
    right: 250px;
}

/* F&Q CSS END */